.sidebar .nav-link {
    color: black;
}

.sidebar .nav-link {
    font-weight: bold; 
}

.sidebar .nav-link:hover {
    color: #5f5e5e; 
}

.Logo {
    .logo {
        width: 150px; 
        height: auto; 
    }
    
}